@model SalesCommission.Models.FIPayscaleModel

@{
    ViewBag.Title = "F and I Manager Payscales";
    var applicationPath = Request.ApplicationPath;

    if (applicationPath == "/")
    {
        applicationPath = "";
    }

    System.Globalization.NumberFormatInfo nfi = new System.Globalization.CultureInfo("en-US", false).NumberFormat;
    nfi.CurrencyDecimalDigits = 0;
    nfi.PercentDecimalDigits = 1;
    nfi.PercentPositivePattern = 1;
    nfi.CurrencySymbol = "$";


}


<style type="text/css">
        .coloreee {
        background-color: #eeeeee;
    }
    .colorddd {
        background-color: #dddddd;
    }
    .form-control {
        margin: 3px 0px;
        font-size:13px;
        height:30px;
    }
    .payscale-label {
        /*margin-top:10px;*/
        text-align:right;
    }
    body{
        font-size:13px;
    }
    .table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
        padding:4px;
    }

    .less-padding{
        padding-left:8px;
        padding-right:8px;
    }

    input.smaller, select.smaller {
        max-width: 150px;
    }

</style>

<div class="jumbotron">
    <h1>F and I Manager Payscales</h1>
    <div class="row">
        <div class="col-sm-12">
            <h3>Select a Store and Date:</h3>
        </div>
    </div>
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-3">
                        @Html.DropDownListFor(n => n.PayscaleId, Model.FIPayscaleSelectList, new { @class = "form-control form-inline" })
                    </div>
                    <div class="col-sm-2">
                        @Html.DropDownListFor(n => n.MonthId, new SelectList(SalesCommission.Business.Enums.Months, "MonthId", "Name"), new { @class = "form-control form-inline" })
                    </div>
                    <div class="col-sm-2">
                        @Html.DropDownListFor(n => n.YearId, new SelectList(SalesCommission.Business.Enums.Years, "YearId", "Name"), new { @class = "form-control form-inline" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-primary" type="submit" value="submit" name="Submit">Submit</button>
                    </div>
                </div>
            </div>

        </div>


    }

</div>
@if (Model.FIPayscales != null)
{
    var autoMallName = "";
    autoMallName = Model.FIPayscaleSelectList.First(o => o.Value == Model.PayscaleId).Text;

    <div class="row">
        <div class="col-sm-12">
            <h3>F and I Manager Payscale for @autoMallName (@Model.MonthId/@Model.YearId)</h3>
        </div>
    </div>
    using (Html.BeginForm("Payscales", "FICommission", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(o => o.PayscaleId);
        @Html.HiddenFor(o => o.MonthId);
        @Html.HiddenFor(o => o.YearId);
        @Html.HiddenFor(o => o.ActivePayscale);
        @Html.HiddenFor(o => o.PayscaleWithProducts);
        <div class="row">
            <div class="col-sm-8">
                <h4>Aftermarket Items</h4>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr style="background-color:#d9edf7;">
                            <th>Item</th>
                            <th class="text-center">Core</th>
                            <th class="text-center">Paid</th>
                        </tr>
                    </thead>
                    <tbody>

                        @{
                            var aftermarketIds = "";
                        }
                        @foreach (var item in Model.FIPayscaleAftermarket)
                        {
                            <tr>
                                <td>@item.AftermarketItem</td>
                                <td class="text-center"><input type="checkbox" id="aftermarketcore-@item.Id" name="aftermarketcore-@item.Id" @(item.CoreItem == true ? "checked" : "")/></td>
                                <td class="text-center"><input type="checkbox" id="aftermarketpaid-@item.Id" name="aftermarketpaid-@item.Id" @(item.PaidItem == true ? "checked" : "")/></td>
                            </tr>


                            aftermarketIds = aftermarketIds + item.Id + ",";
                        }
                        @Html.Hidden("aftermarketIds", aftermarketIds)
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4">
                @{ 
                    var newPayscale = "";
                    var oldPayscale = "";

                    if(Model.PayscaleWithProducts == 1)
                    {
                        newPayscale = "style=display:none";
                    }
                    else
                    {
                        oldPayscale = "style=display:none";
                    }
                }
                <div class="new-payscale" @newPayscale>
                    <h4>Commission Percentage</h4>
                    <input type="text" class="form-control" name="commissionpercent" id="commissionpercent" value="@Model.CommissionPercentage" />

                    <h4>Product Bonus Threshold</h4>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Threshold</th>
                                <th>Percent</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1.</td>
                                <td>
                                    <input type="text" class="form-control" name="Bonus1threshold" id="Bonus1threshold" value="@Model.ProductBonusThreshold1" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="Bonus1percent" id="Bonus1percent" value="@Model.ProductBonusPercent1" />
                                </td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>
                                    <input type="text" class="form-control" name="Bonus2threshold" id="Bonus2threshold" value="@Model.ProductBonusThreshold2" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="Bonus2percent" id="Bonus2percent" value="@Model.ProductBonusPercent2" />
                                </td>
                            </tr>
                            <tr>
                                <td>3.</td>
                                <td>
                                    <input type="text" class="form-control" name="Bonus3threshold" id="Bonus3threshold" value="@Model.ProductBonusThreshold3" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="Bonus3percent" id="Bonus3percent" value="@Model.ProductBonusPercent3" />
                                </td>
                            </tr>
                            <tr>
                                <td>4.</td>
                                <td>
                                    <input type="text" class="form-control" name="Bonus4threshold" id="Bonus4threshold" value="@Model.ProductBonusThreshold4" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="Bonus4percent" id="Bonus4percent" value="@Model.ProductBonusPercent4" />
                                </td>
                            </tr>
                            <tr>
                                <td>5.</td>
                                <td>
                                    <input type="text" class="form-control" name="Bonus5threshold" id="Bonus5threshold" value="@Model.ProductBonusThreshold5" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="Bonus5percent" id="Bonus5percent" value="@Model.ProductBonusPercent5" />
                                </td>
                            </tr>
                            <tr>
                                <td>6.</td>
                                <td>
                                    <input type="text" class="form-control" name="Bonus6threshold" id="Bonus6threshold" value="@Model.ProductBonusThreshold6" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="Bonus6percent" id="Bonus6percent" value="@Model.ProductBonusPercent6" />
                                </td>
                            </tr>
                            <tr>
                                <td>7.</td>
                                <td>
                                    <input type="text" class="form-control" name="Bonus7threshold" id="Bonus7threshold" value="@Model.ProductBonusThreshold7" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="Bonus7percent" id="Bonus7percent" value="@Model.ProductBonusPercent7" />
                                </td>
                            </tr>
                            <tr>
                                <td>8.</td>
                                <td>
                                    <input type="text" class="form-control" name="Bonus8threshold" id="Bonus8threshold" value="@Model.ProductBonusThreshold8" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="Bonus8percent" id="Bonus8percent" value="@Model.ProductBonusPercent8" />
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <h4>Standard Per Unit and Percentages</h4>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Standard</th>
                                <th>Per Unit</th>
                                <th>Percentage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Finance Reserve</td>
                                <td>
                                    <input type="text" class="form-control" name="StandardFinancePerUnit" id="StandardFinancePerUnit" value="@Model.StandardFinancePerUnit" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="StandardFinancePercent" id="StandardFinancePercent" value="@Model.StandardFinancePercent" />
                                </td>
                            </tr>
                            <tr>
                                <td>Service Contract</td>
                                <td>
                                    <input type="text" class="form-control" name="StandardServicePerUnit" id="StandardServicePerUnit" value="@Model.StandardServicePerUnit" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="StandardServicePercent" id="StandardServicePercent" value="@Model.StandardServicePercent" />
                                </td>
                            </tr>
                            <tr>
                                <td>Maintenance</td>
                                <td>
                                    <input type="text" class="form-control" name="StandardMaintenancePerUnit" id="StandardMaintenancePerUnit" value="@Model.StandardMaintenancePerUnit" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="StandardMaintenancePercent" id="StandardMaintenancePercent" value="@Model.StandardMaintenancePercent" />
                                </td>
                            </tr>
                            <tr>
                                <td>GAP</td>
                                <td>
                                    <input type="text" class="form-control" name="StandardGAPPerUnit" id="StandardGAPPerUnit" value="@Model.StandardGAPPerUnit" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="StandardGAPPercent" id="StandardGAPPercent" value="@Model.StandardGAPPercent" />
                                </td>
                            </tr>
                            <tr>
                                <td>Zurich Shield</td>
                                <td>
                                    <input type="text" class="form-control" name="StandardZurichPerUnit" id="StandardZurichPerUnit" value="@Model.StandardZurichPerUnit" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="StandardZurichPercent" id="StandardZurichPercent" value="@Model.StandardZurichPercent" />
                                </td>
                            </tr>
                            <tr>
                                <td>Select Protect</td>
                                <td>
                                    <input type="text" class="form-control" name="StandardSelectProtectPerUnit" id="StandardSelectProtectPerUnit" value="@Model.StandardSelectProtectPerUnit" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="StandardSelectProtectPercent" id="StandardSelectProtectPercent" value="@Model.StandardSelectProtectPercent" />
                                </td>
                            </tr>
                            <tr>
                                <td>Tire and Wheel</td>
                                <td>
                                    <input type="text" class="form-control" name="StandardTireWheelPerUnit" id="StandardTireWheelPerUnit" readonly value="@Model.StandardTireWheelPerUnit" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="StandardTireWheelPercent" id="StandardTireWheelPercent" readonly value="@Model.StandardTireWheelPercent" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#StandardSelectProtectPerUnit').change(function ()
                            {
                                $('#StandardTireWheelPerUnit').val($(this).val());
                            });
                            $('#StandardSelectProtectPercent').change(function () {
                                $('#StandardTireWheelPercent').val($(this).val());
                            });
                        });
                    </script>

                    <h4>Standards and Expectations</h4>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Standard/Expectation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1.</td>
                                <td><input type="text" class="form-control" name="StandardsExpectations1" id="StandardsExpectations1" value="@Model.StandardsExpectations1" /></td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td><input type="text" class="form-control" name="StandardsExpectations2" id="StandardsExpectations2" value="@Model.StandardsExpectations2" /></td>
                            </tr>
                            <tr>
                                <td>3.</td>
                                <td><input type="text" class="form-control" name="StandardsExpectations3" id="StandardsExpectations3" value="@Model.StandardsExpectations3" /></td>
                            </tr>
                            <tr>
                                <td>4.</td>
                                <td><input type="text" class="form-control" name="StandardsExpectations4" id="StandardsExpectations4" value="@Model.StandardsExpectations4" /></td>
                            </tr>
                            <tr>
                                <td>5.</td>
                                <td><input type="text" class="form-control" name="StandardsExpectations5" id="StandardsExpectations5" value="@Model.StandardsExpectations5" /></td>
                            </tr>
                            <tr>
                                <td>6.</td>
                                <td><input type="text" class="form-control" name="StandardsExpectations6" id="StandardsExpectations6" value="@Model.StandardsExpectations6" /></td>
                            </tr>
                            <tr>
                                <td>7.</td>
                                <td><input type="text" class="form-control" name="StandardsExpectations7" id="StandardsExpectations7" value="@Model.StandardsExpectations7" /></td>
                            </tr>
                            <tr>
                                <td>8.</td>
                                <td><input type="text" class="form-control" name="StandardsExpectations8" id="StandardsExpectations8" value="@Model.StandardsExpectations8" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="old-payscale" @oldPayscale>
                    <h4>Gross Percentage Paid</h4>
                    <input type="text" class="form-control" name="grosspercent" id="grosspercent" value="@Model.GrossPercentagePaid" />
                    <h4>Mentor Percentage</h4>
                    <input type="text" class="form-control" name="mentorpercent" id="mentorpercent" value="@Model.MentorPercentagePaid" />
                </div>
                        <hr />
                        <h3>Create New Payscale</h3>
                        <p>You can create a new payscale based upon the currently selected payscale. Enter a name and select create.</p>
                        <input type="text" class="form-control" name="newpayscalename" id="newpayscalename" value="@Model.NewPayscaleName" />
                        <button class="btn btn-primary" type="submit" value="create" name="Create">Create</button>

            </div>

        </div>
                    if (Model.PayscaleWithProducts == 1)
                    {

            <div class="row" >
                @{
                    var payTypes = Model.FIPayscales.Select(x => x.PayTypeCode).Distinct().ToList();

                    foreach (var payType in payTypes)
                    {
                        var settings = Model.FIPayscales.FindAll(x => x.PayTypeCode == payType).OrderBy(x => x.Order).ToList();

                        if (settings != null)
                        {
                            <div class="col-sm-6">
                                <h4>@settings[0].PayTypeName</h4>
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr style="background-color:#d9edf7;">
                                            <th>Type</th>
                                            <th>Level Amount</th>
                                            <th></th>
                                            <th>Pay %</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ 
                                            var settingIds = "";
                                        }
                                        @foreach (var setting in settings)
                                        {
                                            <tr>
                                                <td>
                                                    <select id="payType-@setting.Id" name="payType-@setting.Id" class="form-control form-inline smaller">
                                                        <option value="DOLLAR" @(setting.PayType == "DOLLAR" ? "selected" : "")>Dollar</option>
                                                        <option value="PERCENT" @(setting.PayType == "PERCENT" ? "selected" : "")>Percent</option>
                                                    </select>
                                                </td>
                                                <td><input type="text" class="form-control form-inline smaller" id="levelAmount-@setting.Id" name="levelAmount-@setting.Id" value="@setting.LevelAmount" /></td>
                                                <td class="text-center" style="vertical-align:middle;">and above</td>
                                                <td><input type="text" class="form-control form-inline smaller" id="payAmount-@setting.Id" name="payAmount-@setting.Id" value="@setting.PayAmount" /></td>
                                            </tr>

                                            settingIds = settingIds + setting.Id + ",";
                                        }

                                        @Html.Hidden("settingIds", settingIds)
                                    </tbody>
                                </table>
                            </div>
                                                }
                                            }

                }



            </div>
                                            }
            <div class="row">
                <div class="text-center col-sm-12">

                    <button class="btn btn-primary" type="submit" value="save" name="Save">Save</button>
                </div>
            </div>
            }
            }
