@model SalesCommission.Models.TitleDueModel

@{
    ViewBag.Title = "Update Title Status";
    Layout = null;
    var applicationPath = Request.ApplicationPath;

    if (applicationPath == "/")
    {
        applicationPath = "";
    }

    System.Globalization.NumberFormatInfo nfi = new System.Globalization.CultureInfo("en-US", false).NumberFormat;
    nfi.CurrencyDecimalDigits = 2;
    nfi.PercentDecimalDigits = 1;
    nfi.CurrencySymbol = "";
    nfi.PercentSymbol = "";

}


    <link rel="stylesheet" href="~/Scripts/Chosen/chosen.css">

<style>
        .chosen-container-single .chosen-single {
        height: 34px;
        line-height: 34px;
    }

        .chosen-container-single .chosen-single div {
            top: 5px;
        }

        .chosen-container-single .chosen-single abbr {
            top: 11px;
        }
</style>

    <div id="interested" class="module clearfloats">
    <h3>Update Title Status</h3>

    @using (Html.BeginForm("UpdateTitleStatus", "Reports", FormMethod.Post, new { id = "UpdateTitleStatus" }))
    {
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered table-striped" style="font-size:12px">
                    <thead>
                        <tr style="background-color:#d9edf7">
                            <th class="text-center">Loc</th>
                            <th class="text-center">VIN</th>
                            <th class="text-center">Year</th>
                            <th class="text-center">Make</th>
                            <th class="text-center">Model</th>
                            <th class="text-center">From</th>
                            <th class="text-center">Stock #</th>
                            <th class="text-center">Days</th>
                            <th class="text-center">Received</th>
                            <th class="text-center">Sold</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">@Model.TitleDue[0].LocationName</td>
                            <td class="text-center">@Model.TitleDue[0].VIN</td>
                            <td class="text-center">@Model.TitleDue[0].Year</td>
                            <td class="text-center">@Model.TitleDue[0].Make</td>
                            <td class="text-center">@Model.TitleDue[0].Model</td>
                            <td class="text-center">@Model.TitleDue[0].DealKey</td>
                            <td class="text-center">@Model.TitleDue[0].StockNumber</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <strong>Customer:</strong><br />@Model.TitleDue[0].BuyerName
            </div>
            <div class="col-md-3">
                <strong>Sales Associate:</strong><br />@Model.TitleDue[0].SalesAssociate1Name
            </div>
            <div class="col-md-3">
                <strong>F and I Manager:</strong><br />@Model.TitleDue[0].FinanceManager
            </div>
            <div class="col-md-3">
                <strong>Sales Manager:</strong><br/>@Model.TitleDue[0].SalesManager
            </div>
        </div>
        <hr/>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Title Status</h4>
                        <div class="row">
                            <div class="col-sm-6">
                                @Html.CheckBoxFor(x => x.TitleDue[0].ClearTitle, new { @class = "" }) Clear Title<br />
                                @Html.CheckBoxFor(x => x.TitleDue[0].TitleDueBank, new { @class = "" }) Title Due Bank<br />
                                @Html.CheckBoxFor(x => x.TitleDue[0].TitleDueCustomer, new { @class = "" }) Title Due Customer<br />
                                @Html.CheckBoxFor(x => x.TitleDue[0].TitleDueInterco, new { @class = "" }) Title Due INTERCO<br />
                                @Html.CheckBoxFor(x => x.TitleDue[0].TitleDueAuction, new { @class = "" }) Title Due Auction<br />
                                @Html.CheckBoxFor(x => x.TitleDue[0].OdomDueCustomer, new { @class = "" }) Odom Due Customer<br />
                                @Html.CheckBoxFor(x => x.TitleDue[0].DuplicateTitleAppliedFor, new { @class = "" }) Dup Title Applied For<br />
                            </div>
                            <div class="col-sm-6">
                                @Html.CheckBoxFor(x => x.TitleDue[0].LienDueBank, new { @class = "" }) Lien Due Bank<br />
                                @Html.CheckBoxFor(x => x.TitleDue[0].LienDueCustomer, new { @class = "" }) Lien Due Customer<br />
                                @Html.CheckBoxFor(x => x.TitleDue[0].POADueCust, new { @class = "" }) POA Due Customer<br />
                                @Html.CheckBoxFor(x => x.TitleDue[0].PayoffDueCust, new { @class = "" }) Payoff Auth Due Customer<br />
                                @Html.CheckBoxFor(x => x.TitleDue[0].WaitingOutSTTitle, new { @class = "" }) Waiting Out/ST Title<br />
                                @Html.CheckBoxFor(x => x.TitleDue[0].Other, new { @class = "" }) Other <br />
                            </div>
                        </div>
                        @*<div class="row text-center" style="margin-top:15px;">
                            <div class="col-sm-12">
                                <input type="submit" value="Update" class="btn btn-primary" />
                            </div>
                        </div>*@
                    </div>
                    <div class="col-md-6">
                        <h4>Comments</h4>
                        <div class="row">
                           <div class="col-sm-12">
                                - OLD COMMENT 1<br />
                                - OLD COMMENT 2<br />
                           </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <textarea style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;max-width:none;width: 100%;height:100px; "></textarea>
                            </div>
                        </div>
                        @*<div class="row text-center" style="margin-top:15px;">
                            <div class="col-sm-12">
                                <input type="submit" value="Add Comment" class="btn btn-primary" />
                            </div>
                        </div>*@
                    </div>                    
                </div>

                }
            </div>


            <script src="~/Scripts/Chosen/chosen.jquery.js" type="text/javascript"></script>
            <script src="~/Scripts/Chosen/docsupport/prism.js" type="text/javascript" charset="utf-8"></script>
            <script src="~/Scripts/Chosen/docsupport/init.js" type="text/javascript" charset="utf-8"></script>
